body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #fff8e1;
}

.left-half{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height:100px;
    background-color: #212320;
    color: #fff;
}

.header-right{
    width: 100%;
    flex-direction: column;
    padding: 10px 20px;
}

.logo {
    margin-left: 20px;
    position: relative;
    background-color: #f28c28;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logo:before, .logo:after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 20px;
    background-color: #f28c28;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.logo:after {
    right: 0;
}

.logo:before {
    left: 0;
    transform: rotateY(180deg);
}

.logo-text{
    font-size: 24px;
}

.top-info-block {
    color:#8b8b8b;
    display: flex;
    width: 100%;
    gap:30px;
}

.phone, .delivery {
    font-size: 16px;
    display: flex;
      align-items: flex-end;
}

.working-hours{
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}

.login-btn {
    background-color: #f57c00;
    border-radius:5px;
    color: #ffffff;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
}

.header-separate-line{
    border: none;
    height: 2px;
    background-color:#8b8b8b;
}

@media (max-width: 1100px) {
    .delivery, .working-hours {
        display: none;
    }

    .login-btn{
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .phone{
        display: none;
    }
}

main {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.promo-banner {
    margin-left: 20px;
    position: fixed;
    left: 10px;
    bottom:0px;
    background-color: #f28c28;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    height: 80px;
    width: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.promo-banner:before, .promo-banner:after {
    content: '';
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 20px;
    background-color: #f28c28;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.promo-banner:after {
    right: 0;
}

.promo-banner:before {
    left: 0;
    transform: rotateY(180deg);
}

.promo-banner-text{
    font-size: 14px;
    display: block; /* або inline-block */
    line-height: 20 px;
}

.promo-banner-line{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pizzas {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 20px;
    align-items: center;
}

.pizzas h1 {
    align-self: center;
}

.pizzas h1 span {
    display: inline-block;
    background-color: #ff8c00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.filter-buttons {
    align-self: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-buttons .select-btn{
    border: none;
    background: none;
    color: #ff8c00;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.select-btn.active {
    background-color: #ff8c00;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    color: white;
    border-radius: 5px;
}

@media(max-width:720px){
    .pizzas h1 {
        align-self:self-start;
        margin-left:20%;
    }
    .filter-buttons{
        flex-direction: column;
    }
    .filter-buttons .select-btn{
        width:50%
    }
}

.pizza-list {
    display: flex;
    flex-wrap: wrap;
}

.pizza {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: left;
    min-width:220px;
    max-width: 250px;
}

.pizza img {
    width: 100%;
    height: auto;
}

.pizza h2 {
    color:#ff9800;
    font-size: 24px;
    margin: 10px 0;
}

.pizza p {
    font-size: 14px;
    margin-bottom: 20px;
}

.size-choice{
    display: flex;
    flex-direction: row;
}

.size-1, .size-2 {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.radius-info, .weight-info{
    font-size: 14px;
}

.price-info{
    margin-top: 5px;
    font-size: 24px;
}

.currency-info{
    font-size: 14px;
}

.size-choice button {
    margin-top:5px;
    width:60%;
    background-color: #ff9800;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.order-summary {
    position: fixed;
    height:100%;
    width: 25%;
    right:0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow:auto;
    min-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
    font-size: 16px;
}

.header .order-count {
    background-color: #ff8c00;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    margin-left: 10px;
}

.header .clear-order {
    color: #888;
    text-decoration: none;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.order-item:last-child {
    border-bottom: none;
}

.item-details {
    width:70%
}

.item-details h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #ff8c00;
}

.item-details .icons {
    margin: 0 0 10px;
    font-size: 14px;
    color: #888;
}

.item-details .price {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-quantity button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
}

.minus{
    font-size: 20px;
    color: white;
    background-color:#dc0101;
}

.plus{
    font-size: 20px;
    color: white;
    background-color:#01be07;
}

.remove-item {
    margin-left: 20px;
    font-size: 14px;
    background-color: white;
    color: #ff8c00;
    background-color:white;
}

.item-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.order-total {
    padding: 20px;
    text-align: center;
}

.order-total p {
    display: flex;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.order-total .total-price {
    font-size: 20px;
    margin-left: auto;
}

.order-btn {
    width: 80%;
    background-color: #ff8c00;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}